body {
    background-color: rgba(39, 245, 225, 0.17);
    font-family: fantasy, sans-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 50px;
}

main {
    background-color: rgba(255,255,255,1);
    width: 80%;
    margin: auto;
    min-height: 800px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

#timer {
    align-self: flex-end;
    font-size: 1.7em;
    color: grey;
    padding: 40px;
    margin: -135px 55px 0px 0px;
}

#startingMessage {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

#startingHeader {
    font-size: 4em;
    margin: 40px 0px;
    width: 90%;
    text-align: center;
}

#info {
    font-size: 2em;
    margin: 40px 0px;
    width: 60%;
    text-align: center;
}

#starting-button, #next-button, #clear, #home{
    background-color: rgba(39, 245, 225, 1);
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-radius: 20px;
    margin: 30px;
    border: none;
    font-family: fantasy, sans-serif;
}

#starting-button:hover, #next-button:hover, #clear:hover, #home:hover{
    cursor: pointer;
    background-color: rgba(50, 166, 154, 1);
}

form {
    display: none;
    font-size: 3em;
    width: 75%;
}

form h3, input {
    margin: 20px;
}

.choices {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: .75em;
}

#next-button {
    font-size: .5em;
    padding: 12px 17px;
    margin-top: 50px;
}

#quizResponse {
    font-size: .7em;
}

#highscore {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highscore h2{
    font-size: 4em;
}

#highscore ul {
    margin-top: 30px;
}

#highscore li {
    padding: 10px;
    font-size: 2em;
}