/* background image and page fonts*/
body {
    background-image: url("../assets/Images/BackgroundImg.jpg");
    background-size: cover;
    background-position: center;
    font-family: fantasy, sans-serif;
}

/* header and its child elements styles */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* empty div with width used for ease of flexbox spacing i.e. parent el's justify cont */
header div {
    min-width: 15%;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: 50px;
}

/* nav element on right side of screen with highscore leaderboard link */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15%;
}

nav:hover {
    cursor: pointer;
}

img {
    max-width: 50px;
    max-height: 50px;
}

nav p {
    font-size: 2em;
    text-decoration: underline;
}

/* style for main part of page */
main {
    background-color: rgba(255,255,255,1);
    width: 80%;
    margin: auto;
    min-height: 800px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

/* style for timer */
#timer {
    align-self: flex-end;
    font-size: 1.7em;
    color: grey;
    padding: 40px;
    margin: -100px 55px 0px 0px;
}

/* starting splash screen and children's elements */
#startingMessage {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

#startingHeader {
    font-size: 4em;
    margin: 40px 0px;
    width: 90%;
    text-align: center;
}

#info {
    font-size: 2em;
    margin: 40px 0px;
    width: 60%;
    text-align: center;
    line-height: 40px;
}

/* most buttons in application styled below, including changes in hover state */
#starting-button, #next-button, #clear, #home{
    background-color: rgba(115,205,219,1);
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    border-radius: 20px;
    margin: 30px;
    border: none;
    font-family: fantasy, sans-serif;
}

#submit {
    background-color: rgba(115,205,219,1);
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    font-family: fantasy, sans-serif;
}

#starting-button:hover, #next-button:hover, #clear:hover, #home:hover, #submit:hover{
    cursor: pointer;
    background-color: rgba(0,145,162,1);
}

/* questions screen styled here */
form {
    display: none;
    font-size: 3em;
    width: 75%;
}

form h3, input {
    margin: 20px;
}

.choices {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: .75em;
}

#next-button {
    font-size: .5em;
    padding: 12px 17px;
    margin-top: 50px;
}

#quizResponse {
    font-size: .7em;
}

/* highscore screen styled here */
#highscore {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#highscore h2{
    font-size: 4em;
    margin-top:40px;
}

#highscore ul {
    margin-top: 23px;
    width:100%;
}

/* appending scores in highscore screen styled here in advanced despite not yet existing in markup*/
#highscore li {
    padding: 10px 0px;
    width:100%;
    font-size: 2em;
    text-align: center;
}

#highscore li:nth-child(odd) {
    background-color: rgba(4,90,105, 1);
    color: white;
}

/* buttons on highscore screen styled here */
#clear {
    margin: 30px 15px 12px 30px;
    padding: 11px 30px;
}

#home {
    margin: 30px 30px 12px 15px;
}